    @charset "utf-8";
    * {
        box-sizing: border-box;
    }
    /*MOBILE FIRST*/
    
    body {
        font-family: 'Titillium Web';
        margin: 0;
        background-color: #E8E7E6;
    }
    /*header*/
    
    header {
        background-color: #BA0816;
        position: fixed;
        top: 0;
        width: 100%;
        display: inline;
    }
    
    header a img {
        width: 60%;
        margin: 3%;
    }
    /*Forsiden*/
    
    div {
        text-align: center;
    }
    
    h1 {
        margin: 27% 0 1% 0;
        text-align: center;
    }
    
    .button1 {
        display: block;
        padding: 9%;
        border: none;
        background-color: white;
        box-shadow: 10px 10px 10px #00000025;
        font-size: 2.2vh;
        margin: -4% 10%;
        width: 80%;
    }
    
    a {
        text-decoration: none;
        margin: 0 4% 15% 4%;
        font-size: 250%;
        color: #ffffff;
        visibility: visible;
    }

    
    #randomTip {
        font-size: 2.2vh;
        margin: 12% 0 8% 0;
    }
    
    #lblRandomTip {
        margin-bottom: 10%;
        font-size: 2vh;
    }
    

        /* Indkøbskort */

        @media (orientation: landscape) {
            .flip {
                display: none;
            }
        }
        
        @media (orientation: portrait) {
            .card {
                display: none;
            }
            .flip {
                width: 80px;
                margin: 35%;
            }